<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstGitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96B636141D1B7CFB0031ACC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B6362D1D1B7CFB0031ACC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B636381D1B7CFB0031ACC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
